<?xml version="1.0" encoding="utf-8"?>
<configuration>  
    <configSections>
      <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
    </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="ConnectionString" value="server=localhost:6190; interface=0.0.0.0"
        description="Connection string used by network model editor to connect to openECA data source."
        encrypted="false" />
    </systemSettings>
  </categorizedSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
