<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="NetworkModelAbsolutePath" value="C:\Program Files\Grid Protection Alliance\openLSE\NetworkModel.xml" description="The full path, including the file name, of the LSE network model XML file." encrypted="false"/>
      <add name="PhaseConfiguration" value="PositiveSequence" description="Either 'PositiveSequence' or 'ThreePhase'" encrypted="false"/>
      <add name="OverridePhaseConfiguration" value="true" description="A flag that specifies whether to use the phase configuration in the model or in the system settings." encrypted="false" />
    </systemSettings>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>